.user{
    color: aquamarine;

}
.user3{
    color: blueviolet;
}
.user4{
    color: brown;
 background-color: aqua;
    border: 2px solid rgb(131, 116, 58);
}
img{
    width: 200px;height:200px;
}